body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* === 添加背景图设置 === */
  background-image: url('./assets/bg-tech.png'); /* 这里替换为你的文件名 */
  background-size: cover;              /* 背景自适应屏幕 */
  background-position: center center;  /* 居中对齐 */
  background-attachment: fixed;        /* 背景固定，不随滚动移动 */
  background-repeat: no-repeat;        /* 不重复平铺 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
